body{
    display: flex;
/*    flex-wrap: wrap;*/
    justify-content: center;
/*    align-content: center;*/

}

.container{


    display: flex;
    /*    flex-wrap: wrap;*/
    justify-content: center;
    align-content: center;


    background-color: aqua;

    width: 1220px;
    height: 800px;

}



#aboutPanel{
    background-color: red;

    width: 500px;
    height: 600px;
    padding: ;
    margin: 5px;

    align-self: center;


}

#infoPanel{
    background-color: orange;

    width: 300px;
    height: 360px;
    margin: 5px;

    align-self: center;

}

#projectsPanel{
    background-color: red;

    width: 500px;
    height: 600px;
    margin: 5px;

    align-self: center;

}